.h2{
 color:red;
}
#meeow{
position: absolute;
top:50px;
left:773px;
color: red;
background:white;
}
div.classy{
color:red;
background-color:white;
position: absolute;
top:50px;
left:773px;
}
#meow{
position: absolute;
top:50px;
left:600px;
}
p.pe{
position: absolute;
top:140px;
left:773px;
color:red;
}
